# Build outputs
bin/
obj/
*.exe
*.dll
*.pdb

# Python
__pycache__/
*.pyc
*.pyo
longaudio/

# IDE
.vs/
.vscode/
*.user
*.suo

# OS
Thumbs.db
desktop.ini
.DS_Store


# Python ENVs
venv/
fast_engine_venv/
env/
.venv/


# Python ENVs
venv/
fast_engine_venv/
env/
.venv/

# Large Files
*.zip
analytics_state.json
dist/
build/
apikey.txt